
<mat-toolbar color="primary">
  <span>Gestão de Funcionalidades (App Moinho)</span>
  <span class="row-spacer"></span>
</mat-toolbar>

<mat-toolbar>
    <span>
      <button mat-button  [matMenuTriggerFor]="menu">
      <mat-icon inline>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="irPara('noticias')">
    <mat-icon>note_add</mat-icon>
    <span>Noticias</span>
  </button>
  <button mat-menu-item (click)="sair()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>



<div id="noticias" *ngIf="verNoticia;">
  <app-noticias></app-noticias>
  </div>



