<div class="fixed-top">
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <a routerLink="" class="navbar-brand">
          <img src="/assets/logo.png" />
        </a>

          <div class="float-right">
          <a a href="https://www.facebook.com/jornaldomoinho"  target="_new"><img src="/assets/face.png" /></a>
          <a a href="https://www.instagram.com/jornaldomoinho/" target="_new"><img src="/assets/insta.png" /></a>
          <a a href="https://wa.me/0556298116329" target="_new"><img src="/assets/whatz.png" /></a>
          </div>
      </div>
    </nav>
  
    <div class="menu">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Noticias</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Guia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Jornal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alimentação</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Classificados</a>
          </li>-->
        </ul>
      </div>
    </div>
  </div>
  
  <div class="banner">
    <img src="/assets/banners/img_1.jpg" />
  </div>
