<div class="container">
  
  <div class="secao">
    
  </div>

  <hr />

  <div class="row" *ngIf="!loading">
      <div class="col-sm-4" *ngFor="let noticia of lerNoticias.noticias">
        <div class="card">
          <img class="card-img-top" [src]="noticia.imagens[0].url">
          <div class="card-block">
            <h4 class="card-title">{{noticia.titulo}}</h4>
            <p class="card-text">{{tratarDescNoticia(noticia.descricao_noticia)}}</p>
            <a href="#" class="btn btn-outline-primary">Ler</a>
            <p></p>
          </div>
        </div>
      </div>
  </div>

  <hr />

  <div class="secao">
    
  </div>
  
</div>
