<mat-toolbar color="primary">
  <span>Gestão de Funcionalidades (App Moinho)</span>
  <span class="row-spacer"></span>
  <!--<span class=""><a href="#" (click)="sair()">Sair</a></span>-->

</mat-toolbar>

<mat-toolbar>
    <span>
      <button mat-button  [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>



<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span><a href="#" (click)="sair()">Sair</a></span>
  </button>
</mat-menu>

